html,
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}

.content {
    padding: 1rem;
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.rowcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.divider{
  width: 100%;
  height: 1px;
  background-color: #E50010;
  margin: 16px 0;
}

.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #faf9f8;
    font-size: 1.2em;
  }
  
  .header-nav li {
    float: left;
  }
  
  .header-nav li a {
    display: block;
    color: #E50010;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header-nav li a:hover {
    text-decoration: underline;
  }

.footer {
    width: 100%;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #faf9f8; 
    margin-top: auto;
    text-align: center;
}

.initbutton {
  background-color: #faf9f8; 
  border-radius: 12px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.initbutton:hover{
  color: #faf9f8;
}

.buttonRed {
  border: 2px solid #E50010;
  color: #E50010;
}

.buttonRed:hover{
  background-color: #E50010;
}

.buttonBlue {
  border: 2px solid #0052CC;
  color: #0052CC;
}

.buttonBlue:hover{
  background-color: #0052CC;
}

.buttonOrange {
  border: 2px solid #FF6600;
  color: #FF6600;
}

.buttonOrange:hover{
  background-color: #FF6600;
}

.buttonGreen {
  border: 2px solid #008C8C; 
  color: #008C8C;
}

.buttonGreen:hover {
  background-color: #008C8C; 
}


    /* Form styling */
    .fancyform {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-bottom: 20px;
  }

  .fancyform label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
  }

  .fancyform input[type="number"], form input[type="text"] {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 10px;
      box-sizing: border-box;
  }

  .fancyform button {
      padding: 10px;
      font-size: 16px;
      background-color: #0052CC;
      border: none;
      color: white;
      border-radius: 5px;
      cursor: pointer;
  }

  .fancyform button:hover {
      background-color: #0041A6;
  }